.dart_tool/
.idea/
build/
*.iml
.flutter-plugins
.flutter-plugins-dependencies
.packages
android/.gradle/
android/local.properties
android/app/debug/
android/app/profile/
android/app/release/
ios/
*.apk
*.aab
